body {
    background-color: rgb(193, 155, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.fotos1 {
  display: flex;
  justify-content: space-around; /* Ou space-evenly */
  align-items: center; /* Opcional: centraliza verticalmente */
}

.fotos1 img {
  width: 33.33%; /* Ou use flex: 1 para distribuir igualmente */
  height: auto; /* Mantém a proporção da imagem */
}

.fotos2{
  display: flex;
  justify-content: space-around; /* Ou space-evenly */
  align-items: center; /* Opcional: centraliza verticalmente */
}

.fotos2 img {
  width: 33.33%; /* Ou use flex: 1 para distribuir igualmente */
  height: auto; /* Mantém a proporção da imagem */
}


button {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:rgb(127, 79, 238);;
}

