body {
    background-color: rgb(200, 142, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.fotos1 {
    display: flex;
    justify-content: space-around;
}

.fotosvo {

}

.fotos2 {

}

button {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:rgb(127, 79, 238);;
}

